* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  color: red;
}
a:active {
  color: green;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c3e50;
}
li {
  display: inline-block;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 50px;
  line-height: 50px;
  text-decoration: none;
  /* width: 150px; */
}
nav a:hover {
  background-color: #111111;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.container {
  overflow: hidden;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.header {
  font-size: 25px;
  height: 12%;
}

.content-main {
  height: 300px;
  height: 85%;
  width: 75%;
  float: left;
}

.content-main img {
  margin: 10px 25px;
  height: 150px;
  width: 150px;
  border-radius: 20%;
}

.content-sub {
  overflow: hidden;
  margin-top: 0;
  height: 85%;
  font-size: 20px;
  position: relative;
  width: 25%;
  float: left;
}

.content-sub1 {
  height: 50%;
}

.content-sub2 {
  height: 50%;
}
